<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Book and Review</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'books/css/book.css' %}">
  </head>
  <body>
    <div class="header">
      <div class="links">
        <a href="{% url 'books:index' %}">Home</a>
        <a href="{% url 'books:logout' %}">Logout</a>
      </div>
    </div>
    <h2 id="main_title">{{book.title}}</h2>
    <h4>Authors:
      {% if book.author.all %}
        {% for author in book.author.all %}
          {{author.name}},
        {% endfor %}
      {% endif %}
    </h4>
    <div id="review_container">
      <h3 id="review_title">Reviews</h3>
      {% if book_reviews %}
        {% for review in book_reviews %}
        <div class="reviews">
            <h4 class="rating">Rating: {{review.rating}} Stars</h4>
            <h4 class="review_content"><a href="{% url 'reg_login:user' id=review.user_id.id %}">{{review.user_id.name}}</a> says: {{review.content}}</h4>
            <div class="review_bottom_container">
              <h4 class="date_posted">Posted on: {{review.created_at}}</h4>
              {% if review.user_id.id == request.session.user_id %}
                <a href="{% url 'books:delete' id=review.id %}">Delete this review</a>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div><div id="form_container">
      <form id="review_form" action="{% url 'books:process' route='remote' %}" method="post">
        {% csrf_token %}
        <h3 id="review_form_title">Add a Review</h3>
        <textarea name="review" rows="8" cols="80"></textarea>
        <div class="element">
          <label>Rating</label>
          <select id="rating_select" name="rating">
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
          </select>
          <label>Stars</label>
        </div>
        <input type="submit" id="add_submit" value="Add a Review">
      </form>
    </div>
  </body>
</html>
